<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% include 'style.html' %}
</head>

<body>
    <header>
        <h1>Contato</h1>
    </header>
    <nav>
        <a href="{{ url_for('main.home') }}">Início</a>
        <a href="{{ url_for('main.services') }}">Serviços</a>
        <a href="{{ url_for('main.products') }}">Produtos</a>
        <a href="{{ url_for('main.news') }}">Notícias</a>
        <a href="{{ url_for('main.contact') }}">Contato</a>
    </nav>
    <div class="container">
        <p>Entre em contato pelo e-mail: <strong>feliwelter@gmail.com</strong></p>
    </div>

    <div class="container">
        <h2>Contato</h2>
        <form method="POST">
            <input type="text" name="nome" placeholder="Seu nome" required>
            <textarea name="mensagem" placeholder="Sua mensagem" rows="5" required></textarea>
            <input type="submit" value="Enviar">
        </form>
    </div>

    <footer>
        <p>&copy; @2025 Felipe Welter</p>
    </footer>
</body>

</html>