<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Início - Site de Informática</title>
  {% include 'style.html' %}
</head>

<body>
  <header>
    <h1>Bem-vindo!</h1>
  </header>
  <nav>
    <a href="{{ url_for('main.home') }}">Início</a>
    <a href="{{ url_for('main.services') }}">Serviços</a>
    <a href="{{ url_for('main.products') }}">Produtos</a>
    <a href="{{ url_for('main.news') }}">Notícias</a>
    <a href="{{ url_for('main.contact') }}">Contato</a>
    <a href="{{ url_for('main.login') }}">Login</a>
  </nav>
  <div class="container">
    <p>Seja bem Bem-vindo</p>
  </div>
  <footer>
    <p>&copy; 2025 Felipe Welter</p>
  </footer>
</body>

</html>