<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Notícias</title>
  {% include 'style.html' %}
</head>

<body>
  <header>
    <h1>Notícias</h1>
  </header>
  <nav>
    <a href="{{ url_for('main.home') }}">Início</a>
    <a href="{{ url_for('main.services') }}">Serviços</a>
    <a href="{{ url_for('main.products') }}">Produtos</a>
    <a href="{{ url_for('main.news') }}">Notícias</a>
    <a href="{{ url_for('main.contact') }}">Contato</a>
  </nav>
  <div class="container">
    {% for noticia in noticias %}
    <div>
      <h3><a href="{{ noticia.link }}" target="_blank">{{ noticia.title }}</a></h3>
      <p>{{ noticia.summary }}</p>
    </div>
    {% endfor %}

  </div>
  <footer>
    <p>&copy; 2025 Felipe Welter</p>
  </footer>
</body>

</html>